<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="../static/style.css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <title>Spotify Stats</title>
</head>
<body>
<div class="formContainer">
    <img src="{{ url_for('static', filename='img/logo.png') }}" id="logo" alt="Logo">
    <h1>SpotifyStats</h1>

    <form id="playlistForm" action="/sendLink" method="POST">
        <div class="inputContainer">
            <label for="playlist">Playlist link</label>
            <input
                    id="playlist"
                    name="playlist"
                    type="text"
                    placeholder="Enter playlist link"
                    required
            />
        </div>

        <button type="submit" id="submitPlaylist">Submit</button>
    </form>
</div>
<!--Clear input after submit-->
<script>
    document.getElementById("playlistForm").addEventListener("submit", function () {
        document.getElementById("playlist").value = "";
    });
</script>
</body>
</html>