@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@theme {
  --font-sans: "Inter", sans-serif;

  --color-brand: #1db954;
  --color-brand-bright: #1ed760;

  --color-surface-base: #191414;
  --color-surface-alt: #000000;

  --color-content-primary: #ffffff;
}

@base {
  body {
    @apply font-sans;
  }
}
