@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@theme {
  --font-sans: "Inter", sans-serif;

  --color-brand: #1db954;
  --color-brand-bright: #1ed760;

  --color-surface-base: #191414;
  --color-surface-alt: #000000;

  --color-content-primary: #ffffff;
}

@base {
  body {
    @apply font-sans;
  }
}

@layer components {
  .card {
    @apply bg-neutral-900 rounded-xl p-4 shadow-lg;
  }

  .card-title {
    @apply text-lg font-semibold mb-4;
  }

  .item {
    @apply flex items-center gap-4 p-2 rounded-lg hover:bg-neutral-800 transition;
  }

  .rank {
    @apply w-6 text-neutral-400;
  }

  .track-image {
    @apply w-12 h-12 rounded-md;
  }

  .artist-image {
    @apply w-12 h-12 rounded-full;
  }
}
